<!-- <a (click)="AddTopic()" href="javascript:void(0);">Add new topic</a> -->
<button type="button" (click)="AddTopic()" class="btn btn-primary btn-sm">Add new topic</button>
<br /><br />

<p *ngIf="!topics">Loading topics..</p>
<p *ngIf="topics && topics.length==0">Create your new topic <a (click)="AddTopic()"
    href="javascript:void(0);">here</a>..</p>
<div>
  <div *ngFor="let topic of topics">

    <h4 (click)="topic.ShowContent=!topic.ShowContent" [ngStyle]="{'color': fullScreen ? '#b7cadc' : '#212529' }">
      {{topic.Header}} :</h4>
    <!-- <p [innerHTML]="topic.Description|str2obj"></p> -->
    <p *ngIf="!topic.ShowContent" [innerHTML]="topic.Description | descMin:80:true"></p>
    <div class="mytext" *ngIf="topic.ShowContent" [innerHTML]="topic.Description | str2obj"></div>
    <div class="float-right">
      <small class="text-muted">
        <a *ngIf="topic.Description.length>80" (click)="topic.ShowContent=!topic.ShowContent"
          href="javascript:void(0);">..show {{topic.ShowContent? 'less':'more' }}</a>|
        <span *ngIf="topic.ModifiedBy">updated by: {{topic.ModifiedBy| lowercase | descMin:15}} |</span>
        {{topic.ModifiedDate}} |
        <a (click)="EditTopic(topic)" href="javascript:void(0);"><i class="fa fa-pencil"></i></a> |
        <a (click)="DeleteTopic(topic)" href="javascript:void(0);"><i class="fa fa-trash fa-1x text-danger"></i></a>
      </small>
    </div>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
    <div class="line"></div>
  </div>
</div>

<popup *ngIf="popupData.popupDisplay==='block'" [dataContext]="popupData" (popupDisplay)="popupDisplayEvent($event)">
</popup>