<div class="container">
  <div class="text-center">


    <div *ngIf="topicTypes && topicTypes.length==0">
      <br /><br />
      <h1>WELCOME {{userName| uppercase}}</h1>
      <p>
        Swipe right to slider open, swipe left to navigate back
      </p>
      <a (click)="addTopicTypePopup()" href="javascript:void(0);">Create Topic Type</a> |
      <a (click)="logOut()" href="javascript:void(0);">signOut</a>

    </div>
    <div>
      <br /><br /><br />
      <p *ngIf="!topicTypes">Loading topics..</p>

    </div>

    <div *ngIf="topicTypes && topicTypes.length > 0">
      <h4>Topics <b>List</b>
        <small class="text-muted float-right">
          <a (click)="addTopicTypePopup()" href="javascript:void(0);">Create Topic Type</a>
        </small></h4>
      <table class="table">
        <tbody>
          <tr *ngFor="let type of topicTypes">
            <td align="left"><a href="javascript:void(0)" [routerLink]="[ '/topic', type.Type ]">{{type.Type}}</a>
              <span *ngIf="type?.postsCount" class="badge badge-primary badge-pill">{{type?.postsCount}}</span>
            </td>
            <td>
              <small class="text-muted float-right">
                <a (click)="edit(type)" href="javascript:void(0);"><i class="fa fa-pencil fa-1x text-primary"></i></a> |
                <a (click)="delete(type)" href="javascript:void(0);"><i class="fa fa-trash fa-1x text-danger"></i></a>
              </small> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<popup *ngIf="popupData.popupDisplay==='block'" [dataContext]="popupData" (popupDisplay)="popupDisplayEvent($event)">
</popup>