<!-- Sidebar  -->
<nav (swipeleft)="sharedsvc.sliderClose()" id="sidebar" [slider]="sliderFlag">
    <div (click)="sharedsvc.sliderToggle()" id="dismiss">
        <i class="fa fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3 (click)="navigateToHome()">My Topics</h3>
    </div>

    <ul class="list-unstyled components">
        <!-- <p>Dummy Heading</p> -->
        <li>
            <a (click)="addTopicTypePopup()" href="javascript:void(0)">Create Topic</a>
        </li>
        <li>
            <p *ngIf="!topicTypes || topicTypes.length==0">Loading Topics..</p>
        </li>
        <li>
            <a (click)="sharedTopicsView = !sharedTopicsView" href="javascript:void(0)">Shared Topics</a>
            <ul *ngIf="sharedtopicTypes && sharedtopicTypes.length>0" class="collapse list-unstyled"
                [ngClass]="{'show': sharedTopicsView}" id="homeSubmenu">
                <li *ngFor="let stt of sharedtopicTypes">
                    <a (click)="navigateTo(stt,true)" href="javascript:void(0)">{{stt.Type}}</a>
                </li>
            </ul>
        </li>
        <li *ngFor="let topicType of topicTypes| rduplicates" [ngClass]="{'active': topicType.Type===currentTT}">
            <a (click)="navigateTo(topicType)" href="javascript:void(0)">{{topicType.Type}}</a>
        </li>
    </ul>
</nav>
<popup *ngIf="popupData.popupDisplay==='block'" [dataContext]="popupData" (popupDisplay)="popupDisplayEvent($event)">
</popup>