<!-- Sidebar  -->
<nav (swipeleft)="sharedsvc.sliderClose()" id="sidebar" [slider]="sliderFlag"> 
    <div (click)="sharedsvc.sliderToggle()" id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3 (click)="navigateToHome()">My Topics</h3>
    </div>

    <ul class="list-unstyled components">
        <!-- <p>Dummy Heading</p>         -->
        <li>
            <a (click)="addTopicTypePopup()" href="javascript:void(0)">Create Topic</a>
        </li>
        <li *ngFor="let topicType of topicTypes| rduplicates" [ngClass]="{'active': topicType.Type===currentTT}">
            <a (click)="navigateTo(topicType)" href="javascript:void(0)">{{topicType.Type}}</a>
        </li>        
    </ul>
</nav>
<popup *ngIf="popupData.popupDisplay==='block'" [dataContext]="popupData" (popupDisplay)="popupDisplayEvent($event)"></popup>